<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true">
			<proxy usesystemdefault="True" autoDetect="True"/>
		</defaultProxy>
	</system.net>-->
	<appSettings>
		<!--<add key="URL" value="https://endpoint-akafocus.fpt-software.vn"/>-->
		<add key="URL" value="http://endpoint.akarpa.io" />
		<!--(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#()?&//=]*)-->
		<!--add key="ValidUrlPattern" value="(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#()?&amp;//=]*)"/-->
	</appSettings>
</configuration>